.header-text{
  color:white;
  font-weight:100;
  font-family:'Lato';
}

.big-size{
  font-size:80px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #444;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
}

.select2-results__option{
  color: black;
}
.select2-results__option .select2-results__option--highlighted{
  background-color: blue;
}